/*******************************
  -- 1. GENERAL DECLARATIONS --
*******************************/

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

#wrapper {
	width: 100vw;
	overflow: hidden;
}

h2 {
	font-size: 2rem;
	white-space: normal;
}

p {
	margin-bottom: 0;
	font-size: 1rem;
	white-space: normal;
	text-align: justify;
}

.clickable {
	cursor: pointer;
}



/*******************************
  -- 2. HEADER --
*******************************/

/*** 2-A. POSITIONING *********/
header, footer {
	width: 100vw;
	position: fixed;
	z-index: 3;
}

header {
	top: 0;
	height: 64px;
	background: rgba(0, 0, 0, 0.8);
	border-bottom: 4px solid #bc0000;
	transition: height 0.2s ease-in-out;
}


/*** 2-B. LOGO+HEADING ********/
#header-underlay {
	width: 100%;
	height: 64px;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: 0;
	transition: height 0.2s ease-in-out;
}

#logo {
	display: table-cell;
	width: 48px;
	height: 48px;
	background-image: url(../images/logo.png);
	background-size: 52px;
	background-position: center;
	/*background-color: #bc0000;*/
	margin: 8px;
	display: inline-block;
	border-radius: 50%;
}

/*#logo:before {
	content: "PR";
	color: #fff;
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	width: 48px;
	line-height: 48px;
}*/

#heading-wrapper {
	vertical-align: middle;
	display: table-cell;
	position: relative;
	height: 64px;
	font-size: 1rem;
}

h1 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font: 2em Righteous, sans-serif;
}

h2 {
	margin: 0;
}

#branding {
	position: absolute;
	font-size: 0;
	height: 64px;
	display: table;
        left: 50px;
}


/*** 2-C. MAIN NAVIGATION *****/
#main-nav {
	position: absolute;
	top: 0;
	left: 150px;
}

#main-nav ul {
	white-space: nowrap;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

#main-nav ul li {
	position: relative;
	display: inline-block;
}

#main-nav ul li a {
	display: block;
	font-size: 1rem;
	text-decoration: none;
	height: 64px;
	line-height: 64px;
	color: #ececec;
	padding: 0 16px;
	position: relative;
	z-index: 1;
}

#main-nav ul li:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	background: #bc0000;
	transition: height 0.2s ease-in-out;
}

#main-nav ul li:hover:before {
	height: 100%;
	
}


/*** 2-D. NAV PILLS ***********/
#buttons {
	width: 224px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 14px 24px;
	height: 36px;
}

#buttons button {
	background-color: #c00;
	color: #fff;
	font-weight: bold;
	padding: 0 16px;
	width: 96px;
	text-align: center;
	margin: 0 8px;
	line-height: 32px;
	outline: 0;
	border: 0;
	box-shadow: 0 4px #800;
	border-radius: 4px;
	bottom: 0;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#buttons button:hover {
	transform: translateY(1px);
	box-shadow: 0 3px #800;
}

#buttons button:active {
	transform: translateY(4px);
	box-shadow: 0 0 #800;
}


/*******************************
  -- 3. SLIDER --
*******************************/

#slider {
	width: 100vw;
	height: 360px;
	position: relative;
	margin-top: 64px;
	overflow: hidden;
	transition: margin-top 0.2s ease-in-out;
}

#slider-overlay {
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#slider-description-container {
	display: inline-block;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 60vw;
	min-width: 280px;
}

#slider-description {
	display: inline-block;
	margin: 0;
	white-space: normal;
	text-align: center;
	font-size: 1.3rem;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
}

#slider-description-button {
	width: 114px;
	height: 32px;
	cursor: pointer;
	outline: 0;
	position: absolute;
	z-index: 2;
	margin: 0;
	padding: 8px 32px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 48px;
	background: transparent;
	color: #fff;
	box-shadow: 0 0 0 2px #fff;
	border: 0;
	border-radius: 8px;
	font-size: 1.5rem;
	white-space: nowrap;
	text-align: center;
	-webkit-transition: background 0.2s ease-in-out, width 0.5s ease-in-out;
	-moz-transition: background 0.2s ease-in-out, width 0.5s ease-in-out;
	-o-transition: background 0.2s ease-in-out, width 0.5s ease-in-out;
	transition: background 0.2s ease-in-out, width 0.5s ease-in-out;
    display: block;
}

#slider-description-button:hover {
	background: rgba(255, 255, 255, 0.25);
}

#slider-description-button-text {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 32px;
	white-space: nowrap;
}

/*** 3-A. SLIDING PART ********/
#slider-list {
	display: inline-block;
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0;
	white-space: nowrap;
	-webkit-transition: transform 1s ease-in-out;
	-moz-transition: transform 1s ease-in-out;
	-webkit-transition: transform 1s ease-in-out;
	-webkit-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
}


/*** 3-A. SLIDES **************/
#slider-list li {
	width: 100vw;
	height: 100%;
	display: inline-block;
	position: relative;
	text-align: center;
	background-size: cover;
	background-position: center 40%;
}

#slider-list li.sunrise {
	background-image: url(../images/slider-sunrise.png);
}

#slider-list li.cliff {
	background-image: url(../images/slider-cliff.png);
}

#slider-list li.forest {
	background-image: url(../images/slider-forest.png);
}

#slider-list li.moon {
	background-image: url(../images/slider-moon.png);
}

#slider-list li.ship {
	background-image: url(../images/slider-ship.png);
}

#slider-list li.island {
	background-image: url(../images/slider-island.png);
}


/*** 3-B. SLIDER CIRCLES ******/
#slider-circles {
	position: absolute;
	z-index: 2;
	left: 50%;
	bottom: 16px;
	transform: translateX(-50%);
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.slider-circle {
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, 0.4);
	display: inline-block;
	border-radius: 50%;
	margin: 4px;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.selected {
	background: rgba(255, 255, 255, 0.9);
}


/*** 3-C. SLIDER ARROWS *******/
.slider-button {
	position: absolute;
	width: 135.75px;
	height: 135.75px;
	top: 50%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: rgba(0, 0, 0, 0.35);
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

.slider-button.left {
	left: -192px;
	transform: translate(-50%, -50%) rotate(45deg);
}

.slider-button.right {
	right: -192px;
	transform: translate(50%, -50%) rotate(45deg);
}

.slider-arrow {
	position: absolute;
	width: 40px;
	height: 24px;
	bottom: 0;
	transform-origin: 0 50%;
	transform: translateY(50%) rotate(-45deg);
}

.slider-arrow.left {
	left: 60%;
	bottom: 60%;
}

.slider-arrow.right {
	left: 30%;
	bottom: 30%;
}

.slider-arrow:before, .slider-arrow:after {
	content: "";
	display: block;
	width: 16px;
	height: 24px;
	background-color: #ececec;
	position: absolute;
}

.slider-arrow.left:before {
	transform: translateY(-47%) skewX(-45deg);
}

.slider-arrow.left:after {
	transform: translateY(50%) skewX(45deg);
}

.slider-arrow.right:before {
	transform: translateY(-47%) skewX(45deg);
}

.slider-arrow.right:after {
	transform: translateY(50%) skewX(-45deg);
}



/*******************************
  -- 4. CONTENT --
*******************************/

#content {
	font-size: 0;
	white-space: nowrap;
	padding: 8px;
}

/* content:after for extra scroll room */
#content:after {
	content: "";
	display: block;
	width: 100vw;
	height: 40px;
}

.content-box {
	border-top: 4px solid #bc0000;
	overflow: auto;
	position: relative;
	padding: 32px;
	margin: 16px;
	width: calc(50vw - 104px);
	background-color: #181818;
	color: #fff;
	box-shadow: inset 0 0 64px rgba(0, 0, 0, 1);
}

.content-table {
	display: table;
}

.content-table-cell {
	display: table-cell;
	vertical-align: top;
}

.content-table-cell.with-javascript {
	border-right: 32px solid transparent;
}

#intro {
	position: relative;
	width: calc(100vw - 112px);
}

#image {
	position: relative;
	display: inline-block;
	height: 0;
	padding-bottom: 100%;
	background-image: url(../images/logo.png);
	background-size: cover;
	background-position: center;
}

#intro-table-image-cell {
	vertical-align: middle;
}

#news, #sponsors {
	display: inline-block;
}



/*******************************
  -- 5. FOOTER --
*******************************/

footer {
	bottom: 0;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}
footer span {
	color: #ececec;
	display: inline-block;
	line-height: 40px;
}



/*******************************
  -- 6. MEDIA QUERIES --
*******************************/

@media screen and (max-width: 1080px) {
	#buttons {
		display: none;
	}
	#main-nav {
		left: auto;
		right: 24px;
	}
	#slider-description-container {
		top: 40%;
	}
}

@media screen and (max-width: 840px) {
	h2 {
		text-align: center;
	}
	header {
		height: 128px;
	}
	#header-underlay {
		height: 128px;
	}
	#branding {
		left: 50%;
		transform: translateX(-50%);
	}
	#main-nav {
		display: block;
		width: 100vw;
		position: absolute;
		left: 0;
		margin-top: 64px;
	}
	#main-nav ul li {
		text-align: center;
	}
	#main-nav ul li a {
		width: calc(100vw / 5);
		padding: 0;
	}
	#slider {
		height: 240px;
		margin-top: 132px;
	}
	#slider-description-container {
		top: 30%;
	}
	#slider-description {
		font-size: 1rem;
	}
	#intro-table-image-cell {
		border: 0;
	}
	#content {
		white-space: normal;
	}
	.content-box {
		width: calc(100vw - 112px);
	}
	#image {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	header {
		height: 64px;
	}
	#header-underlay {
		height: 64px;
	}
	#slider {
		margin-top: 68px;
	}
	#main-nav {
		display: none;
	}
}
