/* ... */

html,body {
  padding:0; margin:0;
  font-family:Helvetica, Arial, sans-serif;
}

#temporary {
  position:absolute;
  top:50%;
  left:50%;
  width:550px;
  padding:20px;
  margin-top:-110px;
  margin-left:-285px;
  background-color:#F7F7F7;
  border:1px solid #E3E3E3;
  border-radius:5px;
  font-size:18px;
  text-align:center;
  line-height:1.5;
}

code {
  background-color:#FFF;
  padding:2px;
  border:1px solid #E3E3E3;
  border-radius:5px;
}
